extends layout

block content
  h1= title
  p Welcome to #{title}
  input(type='number', id="A")
  input(type='number', id="B")
  button(type="button" onclick="addThem()").
    +Add Them+
  hr
  div(id='sum').
  hr
