extends layout

block content
    nav
        ul
            li
                a(href='#game/1') Game View
            li
                a(href='#newgame/1') Game View2
            li
                a( href='#select' ) Game Select
    div( ng-view )