doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js")
    script(src="/javascripts/tichuClient.js")
    script.
        var socket = io();
        socket.on('result', function (data) {
            document.getElementById("sum").innerHTML += data.A + "&nbsp;+&nbsp;" + data.B + "&nbsp;=&nbsp;" + data.sum + "<br>";
        });
        function addThem(){
            errorMsg( "Attempting to Perform Addition over sockets" );
            socket.emit('addThem', {A:document.getElementById("A").value, B:document.getElementById("B").value});
        }
  body
    block content