body
		padding: 50px
		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
		color: #00B7FF

#tichuTop
	overflow: hidden
	width: 28em

#scoreKeeper
	background: #cccccc
	
.scoreButton
	width: 100%
	
.tichuStatus
	font: 20px "Consolas"
	width: 30px
	text-align: center
	

.handScore
	font: 20px "Consolas"
	
.teamScore
		font: 48px "Consolas"
		background: #888888
		text-align: center
		margin-bottom: 15px

.teamScoreEntry
		font: 24px "Consolas"
		background: #555555
		text-align: center
		margin-bottom: 15px

.tichuStatusEntry
	font: 20px "Consolas"
	background: #555555
	width: 100px
	text-align: center
	margin-bottom: 15px

.teamHand
	display: flex
	justify-content: space-between
	margin: 5px
		
.flexWrapper
	display: flex
	justify-content: space-between
	
.playerName
		text-align: right
		display: inline-block
		font: 20px sans-serif
		overflow: auto

	
.teamDisplay
		background: #cccccc
		padding: 10px
		margin: 5px
		width: 12em
