body
		padding: 50px
		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
		color: #00B7FF

#teamHeader
	overflow: hidden

.tichuStatus
	font: 20px "Consolas"
	width: 20px
	test-align: center

.handScore
	font: 20px "Consolas"
	
.teamScore
		font: 48px "Consolas"
		background: #888888
		text-align: center
		margin-bottom: 15px

.teamHand
	display: flex
	justify-content: space-between
		
.playerContainer
	display: flex
	justify-content: space-between
		
.playerName
		text-align: right
		display: inline-block
		font: 20px sans-serif
		overflow: auto

	
.teamDisplay
		background: #cccccc
		padding: 10px
		margin: 5px
		width: 12em
		display: inline-block
